@keyframes visited_square_animation{
    0% {
        transform: scale(.3);
        background-color: #43dde6;
      }
    
      25% {
        transform: scale(1.2);
        background-color: yellow;
      }
    
      50% {
        transform: scale(1.5);
        background-color: yellow;
      }

      
      75% {
        transform: scale(1.2);
        background-color: yellow;
      }

      100% {
        transform: scale(1.0);
        background-color:#43dde6;
      }

}