@keyframes weight_add_animation{
    0% {
        transform: scale(.3);
        background-color: rebeccapurple;
      }
    
      50% {
        transform: scale(1.2);
        background-color: rebeccapurple;
      }
    
      100% {
        transform: scale(1.0);
        background-color:rebeccapurple;
      }

}