body{
    background-color: red;
    /* background-image: url(hamed-daram.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* opacity: 0.5; */
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
.btn{
    font-family: 'Ubuntu', sans-serif;
    font-size: 100px;
}
#maze{
    margin-top: 1rem;
    text-align: center;
}
div div{
    line-height: 0;
}
.normal_square{
    background-color: azure;
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid blueviolet;
    display: inline-block;
    /* z-index: -1; */
}
.wall_square{
    background-color: black;
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid blueviolet;
    display: inline-block;
    /* z-index: -1; */

    animation-name: wall_creation_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    /* animation-fill-mode: forwards; */
    animation-play-state: running;
}
.start_square{
    background-image: url(animation/image/blur_circular-24px.svg);
    /* background-color: #9c1de7; */

    background-color: azure;

    background-size: cover;

    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid blueviolet;
    display: inline-block;
}
.end_square{
    /* background-color: #ff304f; */

    background-image: url(animation/image/filter_tilt_shift-24px.svg);
    background-color: azure;
    background-size: cover;


    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid blueviolet;
    display: inline-block;
}

.move_square{
    background-color: yellow;
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid blueviolet;
    display: inline-block;

    animation-name: move_square_animation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    /* animation-fill-mode: forwards; */
    animation-play-state: running;
}
.visited_square{
    background-color: yellow;
    width:2.2rem;
    height: 2.2rem;
    border: 1px solid blueviolet;
    display: inline-block;

    animation-name: visited_square_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    /* animation-fill-mode: forwards; */
    animation-play-state: running;
}
.min_node_square{
    background-color: orange;
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid blueviolet;
    display: inline-block;

    animation-name: min_node_square_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    /* animation-fill-mode: forwards; */
    animation-play-state: running;
}
.weight_add_square{
    /* background-color:#FFC107; */
    /* background-image: url(image-source/5.svg); */
    background-image: url(animation/image/filter_5-24px.svg);
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
 
    /* background-color: azure; */
    border: 1px solid blueviolet;

    /* color: white; */
    background-size: cover;
    /* color: black; */
    width: 2.2rem;
    height: 2.2rem;
    /* border: 5px solid aqua; */
    display: inline-block;

    animation-name: weight_add_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    /* animation-fill-mode: forwards; */
    animation-play-state: running;
}

.weight_add_square_visited{
    /* background-color:  #a7ff83; */
    
    /* background-image: url(animation/image/filter_5-24px.svg); */
    background-color: #43dde6;
    border: 1px solid blueviolet;
    background-size: cover;

    /* background-image: url(animation/image/number-5.svg); */
    width: 2.2rem;
    height: 2.2rem;
    /* border: 5px solid blueviolet; */
    display: inline-block;

    animation-name: weight_add_animation_visited;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    /* animation-fill-mode: forwards; */
    animation-play-state: running;
}
.weight_add_square_t{
    background-image: url(animation/image/filter_3-24px.svg);

    /* background-color: azure; */
    border: 1px solid blueviolet; 
    background-size: cover;

    /* background-color: green; */
    width: 2.2rem;
    height: 2.2rem;
    /* border: 5px solid aqua; */
    display: inline-block;

    animation-name: weight_add_animation_visited_t;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    /* animation-fill-mode: forwards; */
    animation-play-state: running;
}
.lock_square{
    background-color: pink;
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid blueviolet;
    display: inline-block;
}

