body{
    background-color: white;
}
#maze{
    margin-top: 1rem;
    text-align: center;
}
#id{
    /* justify-content: center; */
}
div div{
    line-height: 0;
}
.normal_square{
    background-color: azure;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid blueviolet;
    display: inline-block;
}
.wall_square{
    background-color: black;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid blueviolet;
    display: inline-block;

    animation-name: wall_creation_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.start_square{
    background-color: #9c1de7;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid blueviolet;
    display: inline-block;
}
.end_square{
    background-color: #ff304f;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid blueviolet;
    display: inline-block;
}

#endsquare{
    background-color: #ff304f;
    /* width: 1.8rem; */
    /* height: 1.8rem; */
    color: white;
    border: 1px solid blueviolet;
    display: inline-block;
}

#startsquare{
    background-color: #9c1de7;
    color: white;
    border: 1px solid blueviolet;
    display: inline-block;
}

#weight_add{
    background-color: goldenrod;
    border: 5px solid aqua;
    color: white;
    display: inline-block;
}

.move_square{
    background-color: yellow;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid blueviolet;
    display: inline-block;

    animation-name: move_square_animation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.visited_square{
    background-color: yellow;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid blueviolet;
    display: inline-block;

    animation-name: visited_square_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.min_node_square{
    background-color: orange;
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid blueviolet;
    display: inline-block;

    animation-name: min_node_square_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.weight_add_square{
    background-color:#FFC107;
    width: 1.8rem;
    height: 1.8rem;
    border: 5px solid aqua;
    display: inline-block;

    animation-name: weight_add_animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.weight_add_square_visited{
    background-color:  #a7ff83;
    width: 1.8rem;
    height: 1.8rem;
    border: 5px solid blueviolet;
    display: inline-block;

    animation-name: weight_add_animation_visited;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.weight_add_square_t{
    background-color: green;
    width: 1.8rem;
    height: 1.8rem;
    border: 5px solid aqua;
    display: inline-block;

    animation-name: weight_add_animation_visited_t;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

